* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

aside {
    background-color: #040404;
    width:230px;
    height: calc(100vh - 100px);
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    position: relative;
    flex-direction: column;
}

header {
    background-color: #0C0C0C;
}

main {
    background-color: #121212;
}

.music-player{
    width: 100vw;
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
}
.flex {
    display: flex;
}

.logo img{
    height: 40px;
    margin: 20px 20px;
}

.logo .logo-xs{
    display: none;
}

.menu a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
    padding-left: 8px;
    transition: 0.5s;
    text-decoration: none;
}

.menu i{
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.5s;
}

.menu li{
    margin-left: 5px;
    margin-right: 5px;
    transition: 1s;
    padding: 10px;
    list-style: none;
}
.menu li:first-child {
    border-left: 2px solid #65ff00;
    color: white;
}

.menu li:first-child a{
    color: white;
}

.menu li:hover i{
    color: white;
}

.menu li:hover a{
    color: white;
}

.playlist{
    margin-left: 20px;
}

.playlist h3{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: lighter;
    color: white;
}
.playlist li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.playlist li a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
    transition: 0.5s;
    text-decoration: none;
}

.playlist li:hover a{
    color: white;
}

.new-playlist{
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.new-playlist p{
    text-align: center;
    line-height: 35px;
    font-size: 28px;
    color: black;
}

.favorite{
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to bottom right, #5230F3, white);
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.favorite p{
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    color: white;
}

.bottom-sidebar{
    width: 190px;
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
}

.install{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.profile-name h4{
    color: white;
    font-size: 18px;
}

header {
    width: calc(100vw - 230px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upgrade-button .up-button{
    text-transform: uppercase;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 30px;
    margin-right: 30px;
}

.up-button:hover{
    cursor:pointer;
    transform: scale(1.05);
}

main {
    width: calc(100vw - 230px);
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.nav-menu{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

nav li{
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    transition: 0.5s;
    text-align: center;
}

nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 900;
    transition: 0.5s;
}

nav li:hover a{
    color: white;
}

nav li hr{
    color: #65ff00;
    width: 50%;
    margin: 5px auto;
    display: none;
}

nav li:hover hr{
    display: block;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.recently {
    color: white;
    padding: 50px 50px 25px;
}

.recently h3{
    font-size: 24px;
    font-weight: 900;
}

.card{
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 200px;
}

.card h4{
    padding-bottom: 5px;
    padding-top: 5px;
}

.card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 900;
}

.album-avatar{
    width: 180px;
    height: 180px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
}

.overlay-icons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
}

.album-avatar:hover .overlay{
    display: block;
    cursor: pointer;
}

.center-icon{
    font-size: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.center-icon:hover{
    transform: scale(1.05);
}

.card img{
    width: 180px;
    height: 180px;
}

.made-for {
    color: white;
    padding: 25px 50px;
}

.made-for h3{
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 15px;
}

.made-for p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 900;
}

.music-player i{
    padding: 15px;
}

.song-info h4{
    color: white;
}

.song-info h4:hover , p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.controls{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pause{
    font-size: 32px;
}

.song-commands{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.timeline{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.time{
    width: 60%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: relative;
}

 .music-player i:hover{
     color:white;
     cursor: pointer;
 }

.music-player .pause:hover{
    transform: scale(1.2);
}

.timeline:hover .time {
    border: 2px solid #299E4E;
}

.timeline:hover .dot {
    display: block;
    color: white;
}

.dot{
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 16px;
    display: none;
}

.time i{
    padding: 0;
}

@media screen and (max-width:768px) {
    aside{
        width: 80px;
    }

    main {
        width: calc(100vw - 80px);
    }

    header {
        width: calc(100vw - 80px);
    }

    .logo .logo-lg{
        display: none;
    }

    .logo .logo-xs{
        display: block;
    }

    .menu li a{
        display: none;
    }

    .playlist{
        display: none;
    }

    .bottom-sidebar{
        display: none;
    }

    .music-player{
        padding-left: 10px;
        padding-right: 10px;
    }

    .music-player i{
        padding: 5px;
    }
}
